<header class="header-wrapper">
  <div class="container-md">
    <div class="row">
      <div class="col-md-9">

        <div class="nav-wrapper">
          <div class="nav-header">
            <p class="nav-p">Joshua Dowding</p>
          </div>
          <div class="nav-content">
            <nav class="nav">
              <a class="nav-a selected" href="/">Blog</a>
              <!--<a class="nav-a" href="/">Archive</a>-->
              <a class="nav-a" href="/">Portfolio</a>
            </nav>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
