<section id="profile-hero">
  <div class="container-md">
    <div class="row">
      <div class="col-md-6">

        <div class="hero-wrapper">
            <div class="hero-content">
              <div class="hero-image-wrapper">
                <img class="hero-img" alt="hero-image" src="''" />
              </div>
              <h2 class="hero-h2">Joshua Dowding</h2>
              <p class="hero-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>

      </div>
    </div>
  </div>
</section>
