<div class="container-md">
  <div class="row">
    <div class="col-md-9">

      <div class="list-container" id="home-list">
        <div class="list-wrapper-nav" id="">
          <nav class="nav">
            <a class="nav-a" id="post-tab" href="/"><span>All Posts</span></a>
            <!--
            <a class="nav-a" id="article-tab" href="{{ site.baseurl }}/articles"><span>Articles</span></a>
            <a class="nav-a" id="scrap-tab" href="{{ site.baseurl }}/scraps"><span>Scraps</span></a>
            -->
          </nav>
        </div>

        <div class="list-wrapper" id="recent-posts">
          <div class="list-content" id="all-posts">
            {% for post in paginator.posts %}
              <div class="post">
                <div class="post-header">
                  <h4 class="post-h4">
                    <a class="post-a" href="{{ post.url }}">{{ post.title }}</a>
                  </h4>
                  <p class="post-p">{{ post.date | date: "%d-%m-%Y" }}</p>
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="list-pagination">
            <span class="page-number">
              Page {{ paginator.page }} / {{ paginator.total_pages }} ({{ paginator.total_posts }})
            </span>

            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path }}" class="page-prev active">Previous</a>
            {% endif %}

            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}" class="page-next active">Next</a>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
