---
---

@import "base";
@import "mixins";

html {
  font-size: 62.5%;
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;

  body {
    min-width: 320px;

    h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 2.4rem;
      font-weight: 400;
      font-style: normal;
    }

    h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 2.2rem;
      font-weight: 400;
      font-style: normal;
    }

    h3 {
      font-family: 'Roboto', sans-serif;
      font-size: 2.0rem;
      font-weight: 400;
      font-style: normal;
    }

    h4 {
      font-family: 'Roboto', sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      font-style: normal;
    }

    h5 {
      font-family: 'Roboto', sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      font-style: normal;
    }

    h6 {
      font-family: 'Roboto', sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      font-style: normal;
    }

    div, span, input, textarea, strong {
      font-family: 'Roboto', sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      font-style: normal;
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      font-style: normal;
    }

    a {
      font-family: 'Roboto', sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      font-style: normal;
    }

    ul {
      padding: 0 0 0 4rem;

      li {
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        font-style: normal;
      }
    }

    hr {
      border-color: var(--p-b-colour);
    }

    .row {
      justify-content: center;
    }

    .body-wrapper {
      .body-content {
        section {
          &.section-index,
          &.section-randr,
          &.section-blog,
          &.section-portfolio {
            margin: 64px 0 48px 0;

            &:not(:first-child) {
              margin: 48px 0;
            }

            .section-header,
            .page-header {
              margin: 0 0 48px 0;
  
              h2.section-h2,
              h2.page-h2 {
                font-family: 'Playfair Display', serif;
                font-size: 4.2rem;
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    .hero-wrapper {
      margin: 8rem 0 8rem 0;

      .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .hero-image-wrapper {
          height: 70px;
          width: 70px;
          margin: 0 0 24px 0;
          background-color: var(--l-t-colour);
          border-radius: 50%;

          img.hero-img {
            display: block;
            height: 100%;
            width: 100%;
          }
        }

        h2.hero-h2 {
          color: var(--l-t-colour);
          font-size: 2.8rem;
          font-weight: 700;
          margin: 0 0 12px 0;
        }

        p.hero-p {
          color: var(--l-t-colour);
          max-width: 75%;
          margin: 0;
        }
      }
    }

    .list-container {
      display: flex;
      flex-direction: column;

      .list-wrapper-nav {
        border-bottom: 1px solid var(--p-b-colour);
        margin: 8px 0 8px 0;

        nav.nav {
          display: flex;
          flex-direction: row;
          margin: 8px 0 8px 0;

          a.nav-a {
            display: inline-block;
            position: relative;
            line-height: 1.8rem;
            //margin: 0 0 8px 0;
            color: var(--l-t-colour);
            background-image: transparent;
            text-align: right;
            -webkit-backface-visibility: hidden;
            z-index: 1;

            &:after {
              position: absolute;
              content: '';
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              -webkit-transition: opacity .1s ease-in-out;
              -moz-transition: opacity .1s ease-in-out;
              -o-transition: opacity .1s ease-in-out;
              transition: opacity .1s ease-in-out;
              background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
              animation: slidebg 10s linear infinite;
              -webkit-background-clip: text;
              background-clip: text;
              z-index: 2;
              opacity: 0;
            }

            &:hover {
              text-decoration: none;
              color: transparent;

              &:after {
                opacity: 1;
              }
            }

            &:not(:last-child) {
              margin: 0 12px 0 0;
            }

            &:last-child {
              margin: 0;
            }

            &.selected {
              font-weight: 700;
            }
          }
        }
      }

      .list-wrapper {
        .list-header {
          margin: 0 0 12px 0;

          h3.list-h3 {
            font-weight: 700;
          }
        }

        .list-content {
          display: flex;
          flex-direction: column;

          .post {
            display: grid;
            grid-row-gap: 8px;
            margin: 0 0 32px 0;

            &:last-child {
              margin: 0;
            }

            .post-header {
              display: grid;
              grid-auto-flow: row dense;
              align-items: center;
              grid-row-gap: 8px;

              .post-metadata {
                display: grid;
                grid-auto-flow: column dense;
                align-items: center;
                justify-content: start;
                grid-column-gap: 8px;

                .dot-s {
                  width: 3px;
                  height: 3px;
                  border-radius: 50%;
                  background-color: var(--s-t-colour);
                }

                p.post-p, p.tax-p {
                  color: var(--s-t-colour);
                }
              }

              p.post-p, p.tax-p {
                margin: 0;
                line-height: 1.8rem;
                color: var(--p-t-colour);
                text-align: right;
              }

              a.post-a {
                color: var(--p-t-colour);

                &:hover {
                  text-decoration: none;

                  h3.post-h3 {
                    color: var(--p-h-colour);
                    transition: color .1s ease-in-out;
                  }
                }

                h3.post-h3 {
                  font-family: 'Playfair Display', serif;
                  font-size: 2.4rem;
                  font-weight: bold;
                  line-height: normal;
                  margin: 0;
                  color: var(--l-t-colour);
                  transition: color .1s ease-in-out;
                }
              }
            }
          }
        }

        .list-pagination {
          display: flex;
          flex-direction: row;
          margin: 16px 0 0 0;

          .page-number {
            font-weight: 400;
            line-height: 1.8rem;
            font-size: 1.4rem;
            color: var(--l-t-colour);
            margin: 0 auto 0 0;
          }

          .page-prev, .page-next {
            font-weight: 400;
            line-height: 1.8rem;
            font-size: 1.4rem;
            color: var(--l-t-colour);
            transition: color .1s ease-in-out;

            &.active {
              &:hover {
                text-decoration: none;
                color: var(--p-h-colour);
                transition: color .1s ease-in-out;
              }
            }

            &:last-child {
              margin: 0;
            }
          }

          .page-prev {
            margin: 0 12px 0 0;

            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }

    header.header-wrapper {
      background-color: var(--d-b-shade);

      .nav-wrapper {
        height: 64px;
        display: grid;
        grid-auto-flow: column dense;
        grid-column-gap: 32px;
        align-items: center;

        .nav-header {
          height: 100%;
          display: flex;
          align-items: center;
          justify-self: start;

          a.nav-a {
            &.nav-home {
              font-family: 'Playfair Display', serif;
              font-style: italic;
              font-weight: bold;
              font-size: 2.2rem;
              padding: 0 0 4px 0;
              line-height: normal;
              margin: 0;
              color: var(--s-t-colour);
              transition: color .1s ease-in-out;
            }

            &:hover {
              color: var(--p-h-colour);
              text-decoration: none;
              transition: color .1s ease-in-out;
            }
          }
        }

        .nav-content {
          height: 100%;
          display: flex;
          align-items: center;
          justify-self: end;

          nav.nav {
            height: 100%;
            display: grid;
            grid-auto-flow: column dense;
            grid-column-gap: 32px;
            align-items: center;

            a.nav-a {
              font-style: italic;
              line-height: normal;
              color: var(--s-t-colour);
              transition: color .1s ease-in-out;

              &:last-child {
                margin: 0;
              }
            }
          }
        }

        div.nav-a-w {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &:hover {
            a.nav-a {
              color: var(--p-h-colour);
              text-decoration: none;
              transition: color .1s ease-in-out;
            }
          }

          &.selected {
            .dot-w {
              display: grid;
            }

            a.nav-a {
              padding: 12px 0 0 0;
              color: var(--p-h-colour);
            }
          }

          .dot-w {
            display: none;
            grid-auto-flow: column dense;
            grid-column-gap: 2px;
            align-items: center;
            padding: 6px 0 0 0;

            .dot {
              display: inline-block;
              border-radius: 50%;
              background-color: var(--p-d-colour);

              &.dot-s {
                width: 2px;
                height: 2px;
              }

              &.dot-m {
                width: 4px;
                height: 4px;
              }

              &.dot-l {
                width: 6px;
                height: 6px;
              }
            }
          }
        }
      }
    }

    .post-wrapper {
      .post-header {
        h1.post-title {
          font-family: 'Playfair Display', serif;
        }

        p.post-date {
          font-family: 'Roboto', sans-serif;
        }
      }

      .post-content {
        div, span, input, textarea, strong, h1, h2, h3, h4, h5, h6, ol, ul, li, a, p {
          font-family: 'Roboto', sans-serif;
          line-height: 1.5;
        }

        img {
          max-width: 100%;
        }
      }
    }

    .footer-wrapper {
      margin: 8rem 0 0 0;

      .boot-wrapper {
        padding: 16px 0;
        border-top: 1px solid var(--p-b-colour);

        .boot-content {
          display: flex;
          flex-direction: column;
          align-items: center;

          span#copyright, span#source {
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: var(--l-t-colour);

            a {
              font-size: 1.4rem;
              line-height: 1.8rem;
              color: var(--l-t-colour);
              transition: color .1s ease-in-out;

              &:hover {
                text-decoration: none;
                color: var(--p-h-colour);
                transition: color .1s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}
