*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection, ::-moz-selection {
  color: #FFFFFF;
  background: var(--p-h-colour);
}

html, body, header, footer div, span, h1, h2, h3, h4, h5, h6, p, a, strong, ul, ol, li, img, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

div, span, h1, h2, h3, h4, h5, h6, p, a, strong, ul, ol, li, img, input, textarea {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--p-t-colour);
  word-break: break-word;
}

p:empty {
  margin: 0;
}

html, body {
  background-color: var(--l-b-shade) !important;
}

:root {
  background-color: var(--l-b-shade);

  &.theme-light {
    --l-b-shade: #{#FFFFFF};  // Lighter Background Shade
    --d-b-shade: #{#F7F7F7};  // Darker Background Shade

    --p-h-colour: #{#0396FF}; // Primary Highlight Colour
    --p-d-colour: #{#0396FF}; // Primary Decal Colour
    --p-b-colour: #{#707070}; // Primary Border Colour

    --p-t-colour: #{#000000}; // Lighter Text Colour
    --s-t-colour: #{#707070}; // Darker Text Colour
  }

  &.theme-dark {
    --l-b-shade: #{#1A1A1A};  // Lighter Background Shade
    --d-b-shade: #{#121212};  // Darker Background Shade

    --p-h-colour: #{#EE9AE5}; // Primary Highlight Colour
    --p-d-colour: #{#EE9AE5}; // Primary Decal Colour
    --p-b-colour: #{#707070}; // Primary Border Colour

    --p-t-colour: #{#FFFFFF}; // Lighter Text Colour
    --s-t-colour: #{#DFDFDF}; // Darker Text Colour
  }
}
